# check if env bin exists, and create it if it does not
if [ ! -d "$PWD/.env" ]; then
    if [ ! -d "$PWD/.env/bin" ]; then
        echo ".env/bin not found, creating..."
        mkdir -p $PWD/.env/bin
    fi
fi

src="$PWD/.scripts/pj"
lnk="$PWD/.env/bin/pj"
if [ ! -f "$lnk" ]; then
    if [ -f "$src" ]; then
        echo "$lnk <- $src not found, adding symlink"
        ln -s $src $lnk
    fi
fi

export PATH="$PWD/.env/bin:$PATH"
